{% extends "base.html" %}

{% block content %}
<div class="container challenge-container">
    {{ challenge.html|safe }}
</div>

<script>
$(document).ready(function() {
    $('.launch-docker').click(function() {
        var challenge_id = $(this).data('id');
        $.post(script_root + '/api/v1/challenges/attempt', {
            id: challenge_id
        }, function(data) {
            $('#docker-info-' + challenge_id).html(
                '<div class="alert alert-info">' + data.message + '</div>'
            );
        });
    });
});
</script>
{% endblock %}